*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

/* HEADER */
header{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 28px;
    margin: 10px;
    gap: 10px;
}

nav{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

nav a{
    font-weight:700;
    text-decoration:none;
    color:#24252a;
}

a:hover{
    text-decoration: underline 3px;
}

/* SECTIONS */
#about,#culture,#display,#form,#style{
    border-radius: 20px;
    background-color:#ededed;
    padding:15px;
    margin: 15px;
    font-size: 18px;
}

/* IMAGES */
#culture img{
    display:block;
    margin:auto;
    max-width:100%;
    height:auto;
}

/* COLORS */
#quote, em, h1, h3, h4, label, footer p{
    color:#28809a;
}

/* EXHIBITIONS */
#exhibitions{
    display:flex;
    flex-direction: column;
    gap: 10px;
}

#blackhistorymonth,#experience,#founder,#the90s,#catalogue div{
    margin:10px 0;
    border-radius:20px;
    background-color:#dadada;
    padding:15px;
}

/* INPUT */
#input{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    border:2px solid black;
    margin:20px;
    border-radius:20px;
    padding:10px;
}

label{
    font-size:20px;
}

input{
    padding:10px;
    width: 100%;
    max-width: 300px;
    margin-bottom:10px;
}

/* FOOTER */
footer{
    text-align:center;
    background-color:#dadada;
    border-radius:20px;
    margin:20px;
    padding:10px;
}

footer p{
    font-weight:700;
    font-size:18px;
}

footer p a{
    text-decoration:none;
    color:black;
}

i{
    font-size:30px;
}

/* CATALOGUE */
#catalogue{
    display:flex;
    flex-direction: column;
    gap: 10px;
}

#catalogue div img{
    width:100%;
    max-width:200px;
    height:auto;
}

#catalogue div{
    text-align:center;
    padding:10px;
}

button{
    margin:10px;
    padding:10px;
}

@media (min-width: 768px){
    header{
        flex-direction: row;
        justify-content: space-between;
        font-size: 35px;
        margin: 20px;
    }

    nav{
        justify-content: space-between;
    }

    #about,#culture,#display,#form,#style{
        margin: 30px 80px;
        font-size: 22px;
    }

    #exhibitions{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #catalogue{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    input{
        max-width: 400px;
    }

    footer{
        margin: 30px 80px;
    }
}

@media (min-width: 1024px){
    header{
        font-size:40px;
        margin: 10px 70px;
    }

    #about,#culture,#display,#form,#style{
        margin: 50px 200px;
        font-size: 27px;
    }

    #input{
        margin: 50px auto;
        width: 50%;
    }

    footer{
        margin: 30px 200px;
    }

    #catalogue{
        flex-direction: row;
    }
}